body {
    background-color: black;
    color: white;
    cursor: default;
    margin: auto;
}

#main {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
    letter-spacing: -1px;

    width: 280px;
    margin: 80px auto auto 80px;
    justify-content: start;
    display: grid;
}

.logo {
    height: 90px;
    background: url(../assets/images/x86_Echo.gif) no-repeat;
    background-size: contain;
}

.title {
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 40px;
}

article p {
    font-size: medium;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: auto;
}

@media screen and (max-width: 480px) {
    #main {
        width: auto;
        margin: 40px;
    }
}